<ion-content [fullscreen]="true">
 
  <app-manga-list>
<ion-img
  src="assets\2f9c7c55-0552-44b5-aa55-af009294b94f.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\5e3efdf3-a6fd-4009-8b5a-d123d326f0cd.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\6c09b001-c4a1-4366-bb0f-cd897f4a6244.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\10c6c767-8190-41ac-bc49-8138aa24afd3.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\46d765a2-d108-419b-88b4-f1650ed0f3fb.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\46f5274b-a3f6-4f97-8496-6077398f4335.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\222dfce4-a807-4994-814a-b0f9c32a2af1.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\337a3f66-9029-43ce-81c5-42dfc3fec13d.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\6517b6f7-6ecf-4fc6-86f3-a97dfb3b3c55.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\8603610a-2a98-4d71-ae8d-d330535cdb1b.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\74999492-39c2-4c44-af82-7a8606f433cc.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\96046302-6c38-49c9-b8dc-fbe8f8fb54fb.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\a8f11fa1-69d2-4177-951b-140a40ed9647.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\b74bb2b9-664d-4952-9d6f-a2b586d7f98e.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\e7791489-98cf-4129-9dd5-f47ac0dd31b2.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\eeb50b5e-e1bb-45bf-94fd-698280c14d17.png"
  alt="..."
></ion-img>
<ion-img
  src="assets\fb6731ed-b9e5-4ac0-b5f2-417393635d93.png"
  alt="..."
></ion-img>
  </app-manga-list>
</ion-content>
