<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-reorder-group [disabled]="false">

    <ion-card>
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start" >
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-card-title><h5>Patrick Santiago de Lima Pires</h5></ion-card-title>
          <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      
      <ion-card-header>
        <ion-card-subtitle><h6>Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</h6></ion-card-subtitle>
          <ion-card-subtitle><h6>Matricula: 23109160</h6></ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>

    <ion-card>
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start" >
          <img alt="" src="/assets/foto.jpeg" />
        </ion-avatar>
        <ion-card-title><h5>Lucas henrique santos da silva</h5></ion-card-title>
          <ion-reorder slot="end"></ion-reorder>
      </ion-item>
      
      <ion-card-header>
        <ion-card-subtitle><h6>Superior de Tecnologia em Análise e Desenvolvimento de Sistemas</h6></ion-card-subtitle>
          <ion-card-subtitle><h6>Matricula: 23106675</h6></ion-card-subtitle>
      </ion-card-header>
    
    </ion-card>
    </ion-reorder-group>
    
</ion-content>
